// zluxDOF_Assets.rc -- embeds every runtime image asset into the .aex
// itself (RCDATA resources), so the installed plugin is a single
// self-contained file: no aperture_lib folder, no banner PNG on disk.
// Loaded at runtime by zlux_banner::DecodeImageResource (GDI+ over a
// SHCreateMemStream of the locked resource bytes).
//   ZLUXBANNER       -- effect-panel brand strip (PNG)
//   ZLUXPICKER       -- 8x10 aperture-map picker montage (PNG)
//   APMAP01..APMAP80 -- the aperture-map library (grayscale BMP)
// NOTE: forward slashes on purpose -- rc.exe treats a single
// backslash in a quoted string as an escape sequence.

ZLUXBANNER RCDATA "../zluxDOF_banner.png"
ZLUXPICKER RCDATA "../aperture_lib/_picker.png"
APMAP01 RCDATA "../aperture_lib/aperture01.bmp"
APMAP02 RCDATA "../aperture_lib/aperture02.bmp"
APMAP03 RCDATA "../aperture_lib/aperture03.bmp"
APMAP04 RCDATA "../aperture_lib/aperture04.bmp"
APMAP05 RCDATA "../aperture_lib/aperture05.bmp"
APMAP06 RCDATA "../aperture_lib/aperture06.bmp"
APMAP07 RCDATA "../aperture_lib/aperture07.bmp"
APMAP08 RCDATA "../aperture_lib/aperture08.bmp"
APMAP09 RCDATA "../aperture_lib/aperture09.bmp"
APMAP10 RCDATA "../aperture_lib/aperture10.bmp"
APMAP11 RCDATA "../aperture_lib/aperture11.bmp"
APMAP12 RCDATA "../aperture_lib/aperture12.bmp"
APMAP13 RCDATA "../aperture_lib/aperture13.bmp"
APMAP14 RCDATA "../aperture_lib/aperture14.bmp"
APMAP15 RCDATA "../aperture_lib/aperture15.bmp"
APMAP16 RCDATA "../aperture_lib/aperture16.bmp"
APMAP17 RCDATA "../aperture_lib/aperture17.bmp"
APMAP18 RCDATA "../aperture_lib/aperture18.bmp"
APMAP19 RCDATA "../aperture_lib/aperture19.bmp"
APMAP20 RCDATA "../aperture_lib/aperture20.bmp"
APMAP21 RCDATA "../aperture_lib/aperture21.bmp"
APMAP22 RCDATA "../aperture_lib/aperture22.bmp"
APMAP23 RCDATA "../aperture_lib/aperture23.bmp"
APMAP24 RCDATA "../aperture_lib/aperture24.bmp"
APMAP25 RCDATA "../aperture_lib/aperture25.bmp"
APMAP26 RCDATA "../aperture_lib/aperture26.bmp"
APMAP27 RCDATA "../aperture_lib/aperture27.bmp"
APMAP28 RCDATA "../aperture_lib/aperture28.bmp"
APMAP29 RCDATA "../aperture_lib/aperture29.bmp"
APMAP30 RCDATA "../aperture_lib/aperture30.bmp"
APMAP31 RCDATA "../aperture_lib/aperture31.bmp"
APMAP32 RCDATA "../aperture_lib/aperture32.bmp"
APMAP33 RCDATA "../aperture_lib/aperture33.bmp"
APMAP34 RCDATA "../aperture_lib/aperture34.bmp"
APMAP35 RCDATA "../aperture_lib/aperture35.bmp"
APMAP36 RCDATA "../aperture_lib/aperture36.bmp"
APMAP37 RCDATA "../aperture_lib/aperture37.bmp"
APMAP38 RCDATA "../aperture_lib/aperture38.bmp"
APMAP39 RCDATA "../aperture_lib/aperture39.bmp"
APMAP40 RCDATA "../aperture_lib/aperture40.bmp"
APMAP41 RCDATA "../aperture_lib/aperture41.bmp"
APMAP42 RCDATA "../aperture_lib/aperture42.bmp"
APMAP43 RCDATA "../aperture_lib/aperture43.bmp"
APMAP44 RCDATA "../aperture_lib/aperture44.bmp"
APMAP45 RCDATA "../aperture_lib/aperture45.bmp"
APMAP46 RCDATA "../aperture_lib/aperture46.bmp"
APMAP47 RCDATA "../aperture_lib/aperture47.bmp"
APMAP48 RCDATA "../aperture_lib/aperture48.bmp"
APMAP49 RCDATA "../aperture_lib/aperture49.bmp"
APMAP50 RCDATA "../aperture_lib/aperture50.bmp"
APMAP51 RCDATA "../aperture_lib/aperture51.bmp"
APMAP52 RCDATA "../aperture_lib/aperture52.bmp"
APMAP53 RCDATA "../aperture_lib/aperture53.bmp"
APMAP54 RCDATA "../aperture_lib/aperture54.bmp"
APMAP55 RCDATA "../aperture_lib/aperture55.bmp"
APMAP56 RCDATA "../aperture_lib/aperture56.bmp"
APMAP57 RCDATA "../aperture_lib/aperture57.bmp"
APMAP58 RCDATA "../aperture_lib/aperture58.bmp"
APMAP59 RCDATA "../aperture_lib/aperture59.bmp"
APMAP60 RCDATA "../aperture_lib/aperture60.bmp"
APMAP61 RCDATA "../aperture_lib/aperture61.bmp"
APMAP62 RCDATA "../aperture_lib/aperture62.bmp"
APMAP63 RCDATA "../aperture_lib/aperture63.bmp"
APMAP64 RCDATA "../aperture_lib/aperture64.bmp"
APMAP65 RCDATA "../aperture_lib/aperture65.bmp"
APMAP66 RCDATA "../aperture_lib/aperture66.bmp"
APMAP67 RCDATA "../aperture_lib/aperture67.bmp"
APMAP68 RCDATA "../aperture_lib/aperture68.bmp"
APMAP69 RCDATA "../aperture_lib/aperture69.bmp"
APMAP70 RCDATA "../aperture_lib/aperture70.bmp"
APMAP71 RCDATA "../aperture_lib/aperture71.bmp"
APMAP72 RCDATA "../aperture_lib/aperture72.bmp"
APMAP73 RCDATA "../aperture_lib/aperture73.bmp"
APMAP74 RCDATA "../aperture_lib/aperture74.bmp"
APMAP75 RCDATA "../aperture_lib/aperture75.bmp"
APMAP76 RCDATA "../aperture_lib/aperture76.bmp"
APMAP77 RCDATA "../aperture_lib/aperture77.bmp"
APMAP78 RCDATA "../aperture_lib/aperture78.bmp"
APMAP79 RCDATA "../aperture_lib/aperture79.bmp"
APMAP80 RCDATA "../aperture_lib/aperture80.bmp"
